/* ----- Global CSS ----- */

body {
    background-color: #CFF5E7;
}

h1 {
    color: #0D4C92;
}

h3 {
    color: #59C1BD;
}

hr {
    border-color: #0D4C92;
    border-style: dotted none none;
    border-width: 5px;
    width: 5%;
}

img {
    height: 200px;
}

.circular {
    border-radius: 100%;
}
